.dbd-events { 
    width: 100%; 
    border-collapse: collapse; 
}
.dbd-events th, .dbd-events td { 
    padding: 8px 12px; 
    border: 1px solid #ff4500; 
}
.dbd-events thead { 
    background: rgba(0, 0, 0, 0.4); 
    color: #f0f0f0; 
}

